@font-face {
	font-family: 'makeitsans';
	font-weight: 400;
	src: url(./fonts/make-it-sans-regular.v1.woff2) format("woff2"), url(./fonts/make-it-sans-regular.v1.ttf) format("truetype")
}

@font-face {
	font-family: 'makeitsans';
	font-weight: 700;
	src: url(./fonts/make-it-sans-bold.v1.woff2) format("woff2"), url(./fonts/make-it-sans-bold.v1.ttf) format("truetype")
}

.feature-group{
    .feature{
        &.feature-like{background-image: url('img/icon_like.svg');}
        &.feature-user{background-image: url('img/icon_user.svg');}
        &.feature-sun{background-image: url('img/icon_sun.svg');}
        &.feature-clock{background-image: url('img/icon_clock.svg');}
        &.feature-lock{background-image: url('img/icon_lock.svg');}
        &.feature-check{background-image: url('img/icon_check.svg');}
        &.feature-target{background-image: url('img/icon_target.svg');}
        &.feature-cockade{background-image: url('img/icon_cockade.svg');}
        &.feature-bulb{background-image: url('img/icon_bulb.svg');}
    }
}

.picture{
    background-repeat: no-repeat;
    &.picture-searching{
        background-image: url('img/bg_no_valuation.svg');
        background-position: top center;
        height: 180px;
    } 
    &.picture-archive{
        background-image: url('img/bg_season_change.svg');
        background-position: top center;
        height: 130px;
        margin-top: 15px; 
    }
    &.picture-calendar{
        background-image: url('img/bg_calendar.svg');
        background-position: top center;
        height: 160px;
        margin-top: 15px; 
    }

    &.picture-steps{
        background-image: url('img/bg_steps.svg');
        background-position: top center;
        height: 100px;
        margin-top: 15px; 
    }

    &.picture-chat{
        background-image: url('img/bg_chat.svg');
        background-position: top center;
        height: 165px;
        margin-top: 15px; 
    }

    &.picture-meeting{
        background-image: url('img/bg_meeting.svg');
        background-position: top center;
        height: 165px;
        margin-top: 15px; 
    }

    &.picture-icon-calendar{
        background-image: url('img/icon_calendar.svg');
        background-position: top left;
        background-repeat: no-repeat;
        height: 26px;
        width: 28px;
    }

    &.picture-icon-print{
        background-image: url('img/icon_print.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 17px;
        width: 17px;
        display: inline-block;
        vertical-align: bottom;
    }
}

$primary: #F5F200;
$secondary: #316EA9;
$btn-font-weight:700;
$input-border-radius: 0;
$hr-border-color: #8F8F8F;
$light:#fff;
$input-btn-border-width: 2px;

$font-family-base:"makeitsans";
@import '../../../app.scss';
h1{font-size: 1.4rem; font-weight: 400; margin-bottom: 20px;}
h2{
    font-size: 1.4rem;
    font-weight: 700;
}

.btn{
	box-shadow: 0px 3px 6px #00000029;

	&.refresh-valuation{
		@extend .btn-primary;
	}

	&.modify-valuation{
		@extend .btn-light;
		@extend .btn-outline-dark;
	}
}

.input-group{
	border-radius: 2px !important;
	
	input,
	.input-group-text{
		border-radius: 4px !important;
	}
}

.unsubscribe-return{
	background-color:$gray-100;
}

.quotation-box{
	border: 1px solid #333333;
	border-radius: 4px;
	h2{
		font-weight: 400;
    }
}

.quotation-value{
    font-weight: 700;
    font-size: 2.8em;
}

.page-record{

    h3{
        font-size: 1.4rem; font-weight: 700;
    }

    .vehicle-informations-container{
        background-color: $gray-200;
        padding: 1em;
    }
    .background-direct-sell,
    .background-private-sell{
        border: 1px solid #333333;
        border-radius: 4px;
        opacity: 1;
    }

    .btn{
        @extend .btn-primary;
    }

}

.page-confirmation{

    .print-button{
        color: $secondary;
    }

    .appointment-resume{
        border: 1px solid #333333;
        border-radius: 4px;
        opacity: 1;
    }

    a{
        color:$secondary;
        text-decoration: underline;
    }

    .cancel-appointment{
		@extend .btn-light;
		@extend .btn-outline-dark;
    }

    .postpone-appointment{
		@extend .btn-light;
		@extend .btn-outline-dark;
    }
}

.modal{
    .modal-header button.close{
        border: 2px solid $body-color;
        span{
            color:$body-color;
        }
    }

    .btn{
        @extend .btn-primary;
    }
}