<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#f44336"/>
      <meta property="og:title" content="Coches de Ocasión, Coches de Segunda Mano y Vehículos Nuevos - Autocasion.com"/>
      <meta property="og:description" content="En Autocasion disponemos de más de 110549 de coches de ocasión y segunda mano, además de  coches nuevos y toda la actualidad del sector motor."/>
      <meta property="og:url" content="https://www.autocasion.com/"/>
      <meta property="og:type" content="website"/>
      <meta name="description" content="En Autocasion disponemos de más de 110549 de coches de ocasión y segunda mano, además de  coches nuevos y toda la actualidad del sector motor." />
      <meta name="apple-itunes-app" content="app-id=580457760">
      <meta name="google-play-app" content="app-id=com.vocento.autocasion">
      <link rel="apple-touch-icon" href="https://assets0.autocasion.com/assets/vendor/autocasion-design/dist/img/android-chrome-192x192.png?860079ea43bd9ad462a58998be4e99ec0">
      <link rel="android-touch-icon" href="https://assets0.autocasion.com/assets/vendor/autocasion-design/dist/img/android-chrome-192x192.png?860079ea43bd9ad462a58998be4e99ec0" />
      <meta name="facebook-domain-verification" content="89iugou5h9pbajqvb6iijt3f2gk8z9" />
      <title>Coches de Ocasión, Coches de Segunda Mano y Vehículos Nuevos - Autocasion.com</title>
      <link type="image/x-icon" rel="icon" href="https://assets0.autocasion.com/favicon.ico"/>
      <link type="text/css" rel="stylesheet" href="https://assets0.autocasion.com/assets/vendor/autocasion-design/dist/css/home.d68861dc555ba5446758.css" media="all"/>
      <link rel="canonical" href='https://www.autocasion.com' />
      <link type="text/css" rel="stylesheet" href="https://assets0.autocasion.com/assets/vendor/autocasion-design/dist/css/print.f7e7d00aa59e785182be.css" media="print"/>
      <!-- Variable Analytic -->
      <script type="text/javascript" title="googleAnalytics">
         var pagina_ga = 'home';
      </script>
      <script type="didomi/javascript" data-vendor="didomi:google" async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
      <script>var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];</script>
      <script async="async" type="text/javascript">
         var tamRoba   = 300;
         
         var gptAdSlots = [];
         
         (function () {
         //luego simplificar
         googletag.cmd.push(function () {
             // window.googletag.pubads().setRequestNonPersonalizedAds(1);
             var _parts = ("; " + document.cookie).split("; LeyCookiesV2=");
             var uhc = (_parts === 2 && _parts.pop().split(";").shift() === "1") ? 0 : 1;
             window.googletag.pubads().setRequestNonPersonalizedAds(uhc);
         
             var app = Voonto.getInstance();
             app.when('consent:advertising').then(function(result) {
                 window.googletag.pubads().setRequestNonPersonalizedAds(result ? 0 : 1);
             });
             // Define a size mapping object. The first parameter to addSize is
             // a viewport size, while the second is a list of allowed ad sizes.
                 var mappingRobapaginas = googletag.sizeMapping().
         addSize([0, 0], [320, 50],[320, 100]).
         addSize([768, 426], [728, 90]).
         addSize([1024, 426], [[300, 250],[300, 600]]). // Horizontal Tablet
         build();
         
         
         // This mapping will display ads all users
         var mappingAll = googletag.sizeMapping().
         addSize([0, 0], 'fluid').
         build();
         
         gptAdSlots['botonHome_1'] = googletag.defineSlot('/4900/vocento.autocasion/HOME', 'fluid', 'botonHome_1').defineSizeMapping(mappingAll).setCollapseEmptyDiv(true).addService(googletag.pubads().set("page_url", 'https://www.autocasion.com/')).setTargeting('pos', 'botonHome_1');
         gptAdSlots['botonHome_2'] = googletag.defineSlot('/4900/vocento.autocasion/HOME', 'fluid', 'botonHome_2').defineSizeMapping(mappingAll).setCollapseEmptyDiv(true).addService(googletag.pubads().set("page_url", 'https://www.autocasion.com/')).setTargeting('pos', 'botonHome_2');
         gptAdSlots['botonHome_3'] = googletag.defineSlot('/4900/vocento.autocasion/HOME', 'fluid', 'botonHome_3').defineSizeMapping(mappingAll).setCollapseEmptyDiv(true).addService(googletag.pubads().set("page_url", 'https://www.autocasion.com/')).setTargeting('pos', 'botonHome_3');
         gptAdSlots['botonHome_4'] = googletag.defineSlot('/4900/vocento.autocasion/HOME', 'fluid', 'botonHome_4').defineSizeMapping(mappingAll).setCollapseEmptyDiv(true).addService(googletag.pubads().set("page_url", 'https://www.autocasion.com/')).setTargeting('pos', 'botonHome_4');
         gptAdSlots['robapaginas'] = googletag.defineSlot('/4900/vocento.autocasion/HOME', [[300, 250],[300, 600], [728, 90],[320, 50], [320, 100]], 'robapaginas').defineSizeMapping(mappingRobapaginas).setCollapseEmptyDiv(true).addService(googletag.pubads().set("page_url", 'https://www.autocasion.com/')).setTargeting('pos', 'robapaginas');
         gptAdSlots['robapaginas_dos'] = googletag.defineSlot('/4900/vocento.autocasion/HOME', [[300, 250],[300, 600]], 'robapaginas_dos').defineSizeMapping(mappingRobapaginas).setCollapseEmptyDiv(true).addService(googletag.pubads().set("page_url", 'https://www.autocasion.com/')).setTargeting('pos', 'robapaginas_dos');
         gptAdSlots['FloorAd'] = googletag.defineSlot('/4900/vocento.autocasion/HOME', [[728, 90]], 'FloorAd').setCollapseEmptyDiv(true).addService(googletag.pubads().set("page_url", 'https://www.autocasion.com/')).setTargeting('pos', 'FloorAd');
         ; googletag.pubads().enableSingleRequest(); googletag.pubads().collapseEmptyDivs();
             // Start ad fetching
             googletag.enableServices();
         });
         })();
         
      </script>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-5XGST7');
      </script>
      <!-- End Google Tag Manager -->
      <script src="https://assets0.autocasion.com/assets/vendor/autocasion-design/dist/adBlock.417358b121302bc4e4af.bundle.js"></script>
      <script type="text/javascript">
         if (!String.prototype.includes) {
             String.prototype.includes = function(search, start) {
                 'use strict';
                 if (typeof start !== 'number') {
                     start = 0;
                 }
         
                 if (start + search.length > this.length) {
                     return false;
                 } else {
                     return this.indexOf(search, start) !== -1;
                 }
             };
         }
         if (!Array.prototype.includes) {
             Object.defineProperty(Array.prototype, 'includes', {
                 value: function(searchElement, fromIndex) {
         
                     if (this == null) {
                         throw new TypeError('"this" es null o no está definido');
                     }
         
                     var o = Object(this);
         
                     var len = o.length >>> 0;
         
                     if (len === 0) {
                         return false;
                     }
         
                     var n = fromIndex | 0;
         
                     var k = Math.max(n >= 0 ? n : len - Math.abs(n), 0);
         
                     function sameValueZero(x, y) {
                         return x === y || (typeof x === 'number' && typeof y === 'number' && isNaN(x) && isNaN(y));
                     }
                     while (k < len) {
                         if (sameValueZero(o[k], searchElement)) {
                             return true;
                         }
                         k++;
                     }
         
                     return false;
                 }
             });
         }
      </script>
      <script src="//static.vocento.com/voonto2/latest/voonto.js?version=20211011091455" data-cmp="true" data-gdpr-migrate="LeyCookiesV2" data-cmp-position="bottom" data-kangaroo="false"></script>
   </head>
   <body data-ng-app="Autocasion" class="">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XGST7"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <div class="cartel-footer">
         <div id="FloorAd" class="FloorAd">
            <script defer type="text/javascript">
               googletag.cmd.push(function () { window.googletag.display("FloorAd"); });
            </script>
         </div>
         <script>
            window.onmessage = function(event) {
                if(event.data === 'cerrarFloorAd'){
                    document.getElementsByClassName('cartel-footer')[0].remove();
                }
            }
         </script>
      </div>
      <nav class="navbar">
         <div id="navbar-vue" class="navbar-vue">
            <div class="container menu menu-movil">
               <a :href="urlAdminBack" class="volver-admin" v-cloak v-if="urlAdminBack">Volver al Admin</a>
               <a href="#" class="happy-meal"><span class="icon icon-menu"></span></a>
               <a href="/" class="logo"><img src="https://assets0.autocasion.com/assets/vendor/autocasion-design/dist/img/logo.png?b5033d7ee613f77324f57b867f98a8180" alt="Autocasión" /></a>
               <a href="/login" class="personal" v-cloak v-if="!isLogged || !isUser">
               <span class="icon icon-usuario-masa"></span>
               </a>
               <a href="#" class="personal" :class="{ 'usuario-particular': isParticular, 'usuario-profesional': isProfessional }" v-cloak v-if="isParticular || isProfessional" @click="open()">
               <span class="icon icon-usuario-masa"></span><span class="icon icon-flecha-abajo"></span>
               </a>
               <div class="favorite" v-cloak v-if="isParticular">
                  <a href="/particular/area-privada/favoritos"><span class="icon icon-estrella-masa"></span><span class="numero">{[{ currentUser.nFavorites }]}</span></a>
               </div>
               <div class="favorite" v-cloak v-if="!isLogged || !isUser">
                  <a href="/particular/area-privada/favoritos" v-if="!isLogged || !isUser"><span class="icon icon-estrella-masa"></span></a>
               </div>
               <a href="/superusuario/anunciantes" v-cloak v-if="isSuperUser" class="superusuario" title="Selección anunciantes"><span class="icon icon-superusuario"></span></a>
            </div>
            <div class="swipe happy-meal">
               <div class="contenido">
                  <div class="desplegar siempre">
                     <span>Lo más buscado</span>
                     <ul>
                        <li><span>Coches</span></li>
                        <li><a href="/coches-segunda-mano">Coches de segunda mano</a></li>
                        <li><a href="/coches-nuevos">Coches nuevos</a></li>
                     </ul>
                  </div>
                  <div class="desplegar comprar abierto">
                     <a href="#">Otras búsquedas <span class="icon icon-flecha-abajo"></span></a>
                     <ul>
                        <li><span>Coches</span></li>
                        <li><a href="/coches-km0">Coches km. 0 y demo </a></li>
                        <li><a href="/coches-sin-carnet-segunda-mano">Coches sin carnet de segunda mano</a></li>
                        <li><a href="/venta-coches-clasicos">Coches clásicos</a></li>
                        <li><span>Más vehículos</span></li>
                        <li><a href="/vehiculos-industriales-segunda-mano-furgonetas">Furgonetas de ocasión </a></li>
                        <li><a href="/industriales">Vehículos industriales</a></li>
                        <li><a href="/otros-segunda-mano-caravanas">Caravanas y remolques</a></li>
                        <li><span>Otros</span></li>
                        <!-- <li><a href="/ofertas-renting-coches">Renting coches</a></li> -->
                        <li><a href="/accesorios-repuestos-segunda-mano">Accesorios y repuestos</a></li>
                        <!-- Quitar -->
                     </ul>
                  </div>
                  <a href="/vender-coche" class="pta" :class="{ 'vacio': !isLogged || !isUser }" v-if="!isLogged || !isUser || (isLogged && !isProfessional)">Vende tu coche</a>
                  <div class="desplegar">
                     <a href="#">Actualidad <span class="icon icon-flecha-abajo"></span></a>
                     <ul>
                        <li><a href="/actualidad">Toda la actualidad</a></li>
                        <li><a href="/actualidad/pruebas">Pruebas y novedades</a></li>
                        <li><a href="/actualidad/reportajes">Reportajes y consejos</a></li>
                        <li><a href="/actualidad/noticias">Noticias del motor</a></li>
                        <li><a href="/actualidad/video">Vídeos</a></li>
                        <li><a href="/actualidad/microsites">Especiales</a></li>
                     </ul>
                  </div>
                  <div class="desplegar">
                     <a href="#">Servicios<span class="icon icon-flecha-abajo"></span></a>
                     <ul>
                        <li><a href="/ferias">Ferias</a></li>
                        <li><a href="/comparador-coches">Comparar anuncios</a></li>
                        <li><a href="/concesionarios">Directorio de concesionarios</a></li>
                        <li><a href="/tasacion-de-coches">Tasa tu coche</a></li>
                        <!-- <li><a href="/prestamos">Calcula tu préstamo</a></li> -->
                        <li><a href="/calcula-tu-seguro">Calcula tu seguro</a></li>
                        <li><a href="/transmision-vehiculos">Trámites compra-venta</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="personal swipe" :class="{abierto: opened }" v-cloak v-if="isParticular">
               <ul class="contenido">
                  <li class="profesional">Hola, {[{ currentUser.advertiser.name }]} <span class="icon icon-cerrar" @click="close()"></span></li>
                  <li><a rel="nofollow" :href="$appContext.particularRoutes.ads"><span class="icon icon-tus-anuncios"></span>Tus anuncios</a></li>
                  <li><a rel="nofollow" :href="$appContext.particularRoutes.messages"><span class="icon icon-sobre-masa"></span>Tus mensajes</a></li>
                  <li><a rel="nofollow" :href="$appContext.particularRoutes.alerts"><span class="icon icon-campana-masa"></span>Tus alertas</a></li>
                  <li><a rel="nofollow" :href="$appContext.particularRoutes.favorites"><span class="icon icon-estrella-masa"></span>Tus favoritos</a></li>
                  <li><a rel="nofollow" :href="$appContext.particularRoutes.subscriptions"><span class="icon icon-notificacion"></span>Notificaciones</a></li>
                  <li><a rel="nofollow" :href="$appContext.particularRoutes.profile"><span class="icon icon-datos-contacto"></span>Tus datos</a></li>
                  <li><a rel="nofollow" :href="$appContext.router.baseUrl + '/logout'" class="logout"><span class="icon icon-power"></span>Cerrar sesión</a></li>
               </ul>
            </div>
            <div class="personal swipe" :class="{abierto: opened }" v-cloak v-else-if="isProfessional">
               <ul class="contenido">
                  <li class="profesional">Hola, {[{ currentUser.advertiser.name }]}
                     <span class="icon icon-cerrar" @click="close"></span>
                  </li>
                  <li><a href="/profesional/area-privada"><span class="icon icon-candado-masa"></span>Area privada</a></li>
                  <li>
                     <a href="/" target="_blank">
                     <span class="icon icon-salir"></span>
                     Ir a autocasion.com
                     </a>
                  </li>
                  <li>
                     <a rel="nofollow" href="/logout" class="logout">
                     <span class="icon icon-power"></span>
                     Cerrar sesión
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>

      <div class="container home">

         <iframe id="sumauto_iframe" style="border:0 !important; margin: 30px 0;"></iframe>

      </div>
      <footer class="footer">
         <div class="container">
            <ul>
               <li>
                  <span itemprop="name" content="Autocasion">Sobre Autocasión</span>
                  <a href="/sobre-autocasion">Sobre nosotros</a>
                  <a href="/contacto-sugerencias">Contacto y sugerencias</a>
                  <a href="/aviso-legal" rel="nofollow">Aviso legal</a>
                  <a href="/politica-privacidad" rel="nofollow">Política de privacidad</a>
                  <a href="" onclick="event.preventDefatult;Voonto.cmp.show()" rel="nofollow">Política de cookies</a>
                  <a href="/mapa-web">Mapa web</a>
               </li>
               <li>
                  <span>Comprar</span>
                  <a href="/coches-segunda-mano">Coches de segunda mano</a>
                  <a href="/coches-nuevos">Coches nuevos</a>
                  <a href="/actualidad">Actualidad <span class="hidden-sm">sobre coches</span></a>
                  <a href="/coches-segunda-mano/particular">Coches de particulares</a>
                  <a href="/concesionarios">Directorio de concesionarios</a>
                  <a href="/combustible">Buscar por combustible</a>
                  <a href="/ferias">Ferias</a>
                  <a href="/comparador-coches">Comparar anuncios</a>
                  <a href="/consejos-seguridad#buy">Comprar seguro</a>
                  <!-- <a href="/ofertas-renting-coches">Renting coches</a> -->
               </li>
               <li>
                  <span>Vender</span>
                  <a href="/vender-coche">Anuncia tu coche</a>
                  <a href="/tasacion-de-coches">Tasa tu coche</a>
                  <a href="/consejos-seguridad#sell">Vender seguro</a>
                  <a href="/marcas">Fichas técnicas y precios</a>
               </li>
               <li>
                  <span>Síguenos</span>
                  <a itemprop="sameAs" rel="nofollow" href="https://twitter.com/Autocasion" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                  <a itemprop="sameAs" rel="nofollow" href="https://www.facebook.com/autocasion" target="_blank"><span class="icon icon-facebook"></span>Facebook</a>
                  <a itemprop="sameAs" rel="nofollow" href="https://www.youtube.com/user/autocasioncom" target="_blank"><span class="icon icon-youtube"></span>YouTube</a>
               </li>
               <li>
                  <span>Nuestra App</span>
                  <a href="https://itunes.apple.com/es/app/autocasion.com/id580457760?mt=8" target="_blank">
                  <span class="icon icon-ios"></span> Descárgala en IOS
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=com.vocento.autocasion&hl=es" target="_blank">
                  <span class="icon icon-android"></span> Descárgala en Android
                  </a>
               </li>
            </ul>
            <div class="vocento">
               <img src="https://assets0.autocasion.com/assets/vendor/autocasion-design/dist/img/logo_vocento.png?3dcfa6ee58bb69cb00060392fe1cc6110" width="91" height="14" alt="Vocento"/>
               <p>
                  <a href="http://www.abc.es/" target="_blank">abc.es</a>
                  <a href="http://www.finanzas.com/" target="_blank">finanzas.com</a>
                  <a href="http://www.mujerhoy.com/" target="_blank">mujerhoy.com</a>
                  <a href="https://www.pisos.com/" target="_blank">pisos.com</a>
                  <a href="http://www.motocasion.com/" target="_blank">motocasion.com</a>
                  <a href="http://www.unoauto.com/" target="_blank">unoauto.com</a>
               </p>
               <p>&copy;2000-2021 Autocasion.com - Todos los derechos reservados.</p>
            </div>
         </div>
      </footer>
      <a class="subir-flecha hidden"><span class="icon icon-flecha-arriba"></span></a>
      <div class="aviso-navegador hidden">
         <div class="container">
            <p>Para que puedas disfrutar de todas las funcionalidades de nuestra nueva web, <a href="/actualizar-navegador">te recomendamos que actualices tu navegador</a></p>
         </div>
      </div>



      <script src="./parentIframe.js"></script></div>
      <script>
         launchIframe('sumauto_iframe','./autocasion','sale');
      </script>


   </body>
</html>
