$label-margin-bottom: 0rem;
@import '~bootstrap/scss/bootstrap';


@include media-breakpoint-down(xs) {
    .label-year{
        display: none;
    }  
}

.btn-group{
    display: flex;
    width: 100%;
    .btn{
        flex: 1;
    }
}

.questions-group{
    @include make-row();
}
.registration-or-make-logo{
    text-align: center;
}
.question{
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }
    &.question-registration{
        @include make-col(12);
        @include media-breakpoint-up(lg) {
            .form-group{
                width: 40%;
            }
        }
    }

    &.question-version{
        @include make-col(12);
    }

    &.question-mileage,
    &.question-imported,
    &.question-history,
    &.question-running,
    &.question-sellProject{
        @include make-col(12);
    }


    &.question-makelogo{
        @include make-col(12);
        .logo-button-container{
            @include make-col-ready();
            @include make-col(3);
            button{
                margin: 10px auto;
                display: block;
                &.selected{
                    border:2px solid $primary;
                }
            }
        }
    }




}    

.input-with-validation{
    display: flex;
    align-items: center;
    input{
        flex:1;
 
    }
    .input-validation{

        width: 30px;
        display: flex;
        justify-content: center;
        font-size: 24px;
        .fa-check{
            width: 16px;
            @extend .text-success;
        }
        .fa-times{
            width: 12px;
            @extend .text-danger;
        }
    }
}

.progress-menu{
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 15px 0 15px 0;
    z-index: 100;
    ul{
        display: flex;
        margin:  0 0 10px 0;
        padding: 0;
        list-style-type: none;
        li{
            flex: 1;
            text-align: center;
            &.completed{
                text-decoration: line-through;
            }
        }
    }
}


.cta-block{
    margin: 2em 0;
    text-align: center;
}

.dealers-list{

    .button-dealer{
        display: flex;
        border:1px solid $gray-300;
        padding: .5em;
        margin-bottom: .5em; 
        .button-dealer-name{
            font-weight: bold;
        }
        .button-dealer-icon{
            width: 30px;
            align-self: center;
    
        }
        &.hidden-dealer{
            display: none;
        }
        &.selected{
            border-color: $primary;
            background-color: rgba($primary, .1);
        } 
    }

    &.show-all{
        .button-dealer.hidden-dealer{
            display: flex;
        }
    }
    
}


.google-map{
    width: 100%;
    height: 400px;
}



.page{
    &.page-error{
        h1{
            
            @extend .text-primary;
        }
    }
    &.page-formvehicle{
        padding-top: 100px;

    }
} 

.form-unsubscribe{
    max-width: 400px
}

.unsubscribe-return{
    @extend .p-2;
    background-color: azure;
    &.valid{
        .unsubscribe-return-icon{
            @extend .text-success;
        } 
    }
    &.error{
        @extend .text-danger;    
    }
    display: flex;
    .unsubscribe-return-message{
        @extend .pl-2;
    }
}

