$label-margin-bottom: 0rem;
$body-color: #000;
$progress-height:4px; 
$progress-border-radius:0;
$modal-content-border-width:0;
$line-height-base: 1.2; 
$success:   #3DC952 ;
$danger: #CB0C16;
$input-box-shadow: none;   
$input-focus-width: 0;
$input-btn-focus-width:  0;
$grid-gutter-width: 15px;
$label-margin-bottom: 5px;
$tooltip-bg:#BABABA;
$tooltip-color:#000;
$tooltip-font-size:.8em;
$tooltip-max-width: 300px;

$input-btn-padding-y: .587rem;

@import '~bootstrap/scss/bootstrap';

$primaryOpacity : rgba($primary, .1);
$dangerOpacity : rgba($danger, .1);
$halfGutter : $grid-gutter-width / 2;

$input-active-border-color:#333333;
$input-inactive-border-color: #E3E3E3;
$input-error-border-color:#d91a2a;
$input-success-border-color:#3cc850;

$input-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;

body{
    padding-bottom: $halfGutter;
    min-width: 320px;
    padding: 0 10px;
}

@include media-breakpoint-down(xs) {
    .label-year{
        display: none;
    }
}

.btn-group{
    display: flex;
    width: 100%;
    .btn{
        flex: 1;
    }
}

.makes-logo{
    margin-bottom: 1rem;

    .fivecol-container{
        .fivecol{
            width: 20%;
            position: relative;
            padding-right: $halfGutter;
            padding-left: $halfGutter;
        }

        // removing the two last logo for mobile
        @include media-breakpoint-down(xs) {
            .fivecol{
                width: 25%;
            }

            .fivecol:nth-last-child(1),
            .fivecol:nth-last-child(2){
                display: none !important;
                width: 1px;
            }
        }
        // ----
    }

    .make-logo-button-container{
        text-align: center;
        font-size: 10px;
        margin-bottom: 10px;
        div{
            border:1px solid #ccc;
            border-radius: 2px;
            display: block;
            margin-bottom: .5rem;
            &.selected{
                border:1px solid $primary;
            }
            img{width: 100%; padding: 5px;}
        }
    }
}

.message{
    margin-bottom: $grid-gutter-width;
    padding:$grid-gutter-width;
    font-size: .8rem;
    display: none;

    &.sm-absolute{
        @include media-breakpoint-up(sm) {
            position: absolute;
        }
    }

    &.visible{
        display: block;
    }

    .message-title{
        display: flex;
        font-weight: 700;
        .message-title-icon{
            margin-right: 5px;
        }
    }

    p{
        margin: .5rem 0 0 .5rem;
    }
}

.form-group-year label{
    display: none;
    @include media-breakpoint-up(sm) {
        display: inline-block; 
    }

}

.form-help{
    display: none;
    @include media-breakpoint-up(sm) {
        display: block;
        color:$gray-700;
        margin-top: -5px;
        font-size: .8rem;
    }
}

.input-with-validation{
    display: flex;
    align-items: center;
    input{
        flex:1;
    }
    .input-validation{
        width: 20px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        .fa-check{
            width: 10px;
            @extend .text-success;
        }
        .fa-times{
            width: 12px;
            @extend .text-danger;
        }
    }
}


.cta-block{
    margin: 2rem 0;
    text-align: center;
    @include media-breakpoint-up(md) {
        .btn{
            min-width: 325px;
        }
    }
}

.dealers-list{
    max-width: map-get($grid-breakpoints, "md");
    .button-dealer{
        display: flex;
        border:1px solid $gray-300;
        padding: 1rem;
        margin-bottom: .5rem;
        line-height: 1.5; 
        .button-dealer-name{
            font-weight: bold;
        }
        .button-dealer-icon{
            width: 25px;
            min-width: 25px;
            max-width: 25px;
            align-self: center;
        }
        &.hidden-dealer{
            display: none;
        }

    }

    &.show-all{
        .button-dealer.hidden-dealer{
            display: flex;
        }
    }
}


.google-map{
    width: 100%;
    border: 1px solid $gray-500;
    height: 175px;
    margin-bottom: 1rem;
}

ul,ol{
    li{
        padding-bottom:.5rem;
    }
}

ol {
    list-style: none;
    counter-reset: bold-counter;
    li {
        counter-increment: bold-counter;
    }
    li::before {
        content: counter(bold-counter) ". ";
        font-weight: 700;
    }
}

.page{
    padding: $grid-gutter-width 0;
}

.page-index{
    .cta-block{
        .btn{
            width: 100%;
            @include media-breakpoint-up(sm) {
                width: auto;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
    .progress{
        min-width: 240px;
    }
}

.page-confirmation{
    padding-top: 15px;

    h1{
        text-align: center;
        @include media-breakpoint-down(sm) {
            text-align: left;
        }
    }
    h3{
        font-size: 1rem;
        font-weight: 700;
    }

    ul{
        padding-left: 15px;
    }
    ol{
        padding-left: 0;
    }
}

.page-record{
    .valuation{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .picture{
        margin: 2rem 0 !important;
    }

    .btn{
        margin-left: auto;
        margin-right: auto;
        max-width: map-get($grid-breakpoints, "sm");
    }

    .background-private-sell,
    .background-direct-sell{
        padding: $grid-gutter-width;
        height: 100% !important;
        display: flex;
        flex-direction: column;

        a{
            color: $gray-600;
        }
    }
}

.page-error {
    .cta-block button{
        width: 400px;
    }

    .cta-block{
        text-align: center;
        button{
            width: 100%;
            @include media-breakpoint-up(sm) {
                    
                    max-width: map-get($grid-breakpoints, "sm");
                }
            }
    }
}

.page-unsubscribe{
    .form-unsubscribe{
        
        max-width: map-get($grid-breakpoints, "sm");
    }

    .unsubscribe-return{
        @extend .p-3;
        
        max-width: map-get($grid-breakpoints, "md");
        font-size: 13px;
        &.valid{
            .unsubscribe-return-icon{
                @extend .text-success;
            }
        }
        &.error{
            @extend .text-danger;
        }
        display: flex;
        .unsubscribe-return-message{
            @extend .pl-2;
        }
    }
        .cta-block{
            text-align: left;
            button{
                width: 100%;
            @include media-breakpoint-up(sm) {
                    
                    max-width: map-get($grid-breakpoints, "sm");
                }
            }
        }
}

label{
    font-size: $font-size-base;
    font-weight: 700;
    color: $body-color;
    transition: $input-transition;
    svg.fa-question-circle{
        width: 19px !important;
        height: 19px !important;
    }
}

.input-group-append,.input-group-text{
    background-color: white;
    color: $gray-500;
}

.form-group{
    .text-danger {
        margin: 5px 0;
    }

    &:focus-within{
        label {
            color: $input-active-color;
        }
    }
}

.feature-group{
    .feature{
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        padding-top: 50px;
        flex: 1;
        text-align: center;
        max-width: 170px;
        margin: auto;
    }
}

.feature-details{
    text-align: center;
    margin:.5rem auto;
    font-size: .8rem;
    max-width: 200px;
}
.valuation-box{
    padding: $grid-gutter-width;
}

.valuation-description{
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
    font-size: .8rem;
}

.accordion-info{
    font-size: .8rem;
    padding:0 0 .8rem 0;
    .accordion-info-title{
        margin-bottom: 0;
    }
    .accordion-info-details{
        margin-top: $halfGutter;
    }
}

.progress-bar-section {
    position: sticky;
}

.progress-steps{
    margin: $grid-gutter-width 0;
    .progress-step-content{
        display: flex;
        align-items: center;
        justify-content: bottom;
        .step{
            flex: 1;
            margin-top: auto;
            text-align: center;

            .label{
                font-size: .8rem;
                width: 80px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5px;
                color: black;
            }
            .number{
                font-size: .8rem;
                border-radius: 100%;
                border:1px solid black;
                color:black;
                background-color: white;
                display: inline-block;
                height: 20px;
                width: 20px;
                text-align: center;
                line-height: 20px;
                &.completed{
                    color: white;
                    background-color: black;
                    svg{
                        width: 10px;
                        height: 10px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }
    .progress {
        margin:  -11px 13% 0 13%;
        position: relative;
        z-index: -1;
    } 
}

.motivation{
    background-color: $gray-100;
    padding:1.5rem 1rem;
    margin:1rem 0rem;
    border-bottom: 1px solid $gray-500;
    .motivation-title{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .progress-steps{
        max-width: 700px;
        position: relative;
        z-index: 1;
        margin: 2rem auto 2.5rem auto;
    }
}

.alert-covid{
    background-color: $dangerOpacity;
    padding:.8rem .8rem 0 .8rem;
    margin-bottom: 1rem;
    max-width: map-get($grid-breakpoints, "md");
}

.appointment-resume{
    padding: $grid-gutter-width;
    display: flex;
    margin-bottom: $grid-gutter-width;
    .appointment-resume-text{
        padding-left:$grid-gutter-width;
        p {
            margin: 0;
            font-weight: normal;
        }
    }
}

.vehicle-informations{
    line-height: 1.75rem;
}

.footnote{
    font-size: .8rem;
    margin-top:2rem;
    color:$gray-700;
}

.stick-background{
    margin-top: -3px;
}


.modal{
    .modal-header button.close{
        padding: 0;
        margin: -8px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        opacity: 1;
        font-family: arial;
        span{
            width: 19px;
            font-size: 18px;
            line-height: 20px;
            display: block;
        }
    }
    .btn{
        display: block;
        width: 100%;
        max-width: 260px;
    }
}


.loading-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.form-section-title{
    font-size: .8rem;
    padding-bottom: 6px;
    margin: 1rem 0;
    text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-group{
    .btn{
        font-weight: 400;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.custom-checkbox{
    .custom-control-input{
        margin-top: 0rem;
    }
    label{
        padding-top: 4px;
        font-weight: 400;
        font-size: .8rem;
    }
}

.numbered-title{
    @extend h2;
    margin-bottom: 1.5rem;
}

.choose-date-background{

    margin:30px 0;
    padding:20px 0;
    background-color: #F1F1F1;
}

.form-group-registration .input-group{
    max-width: 300px;
    @include media-breakpoint-up(lg) {
        margin-top: 50px;
    }
    .btn{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.registration-or-make-logo{
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.1em;
    margin: 10px 0 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    span{
        background:$body-bg;
        padding:0 10px;
    }

    @include media-breakpoint-up(lg) {
        border:0;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        width: 50px;
        border-bottom: 0 !important;

        span{
            text-align: center;
            display: block;
            background-color: $body-bg;
            width: 50px;
            height: 40px;
            line-height: 40px;
        }
        span:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 25px;
            border-left-width: 1px;
            border-left-style: solid;
            transform: translate(-50%);
        }
    }
}

.form-group-mileage{
    .form-control{
        border-right: 0;
    }
    .input-group-text{
        font-weight: 700;
        background-color: transparent;
    }
}

.page-valuation,
.page-unsubscribe{
    .input-group {
        select,input{border-right:0}
    }
}

@include media-breakpoint-up(sm) {
    .form-group-month label{
        width: 200%;
    }
}


.mobile-help{
 display: inline;
 @include media-breakpoint-up(sm) {
    display: none;
 }
}

.page.page-cookies{
    margin-bottom: 3rem;
    h1{
        font-weight: 700;
    }
    h2{
        border-top: 1px solid $body-color;
        border-bottom: 1px solid $body-color;
        font-weight: 700;
        text-align: center;
        font-size: 1.5em;
        margin: 2em 0 1em 0;
        padding: .15em;
    }
}

.page.page-general-conditions{
    margin-bottom: 3rem;
    h1{
        font-weight: 700;
    }
    h2{
        font-weight: 700;
        font-size: 1.5em;
        margin: 2em 0 1em 0;
    }
    h3,h4,h5{
        font-weight: 700;
        font-size: 1.2em;
        margin: 1em 0;
    }
}

.form-group-privacy{
    .form-check-input{
        margin-top: 0.15rem;
    }
    label{
        font-weight: normal;
        @extend .small;
    }
    &.invalid{
        label{
            color: $danger;
            border-bottom: 2px solid $danger;
        }
    }
}