
$label-margin-bottom: 0rem;
$body-color: #000;
$progress-height:5px; 
$progress-border-radius:0;
$modal-content-border-width:0;
$line-height-base: 1.2; 
$success:   #3DC952 ;
$danger: #CB0C16;
$input-box-shadow: none;   
$input-focus-width: 0;
$input-btn-focus-width:  0;

@import '~bootstrap/scss/bootstrap';

$primaryOpacity : rgba($primary, .1);
$dangerOpacity : rgba($danger, .1);
$halfGutter : $grid-gutter-width / 2;

$input-active-border-color:#333333;
$input-inactive-border-color: #3333338c;
$input-error-border-color:#d91a2a;
$input-success-border-color:#3cc850;

$input-active-color:#333333;
$input-inactive-color:#3333338c;
$input-error-color:#333333;

$input-active-bg: #ffffff;
$input-inactive-bg: #ffffff;
$input-error-bg: #ffdddd;

$input-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;

body{
    padding-bottom: $halfGutter;
    min-width: 320px;
}

@include media-breakpoint-down(xs) {
    .label-year{
        display: none;
    }
}

.btn-group{
    display: flex;
    width: 100%;
    .btn{
        flex: 1;
    }
}

.questions-group{
    @include make-row();
}
.registration-or-make-logo{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $primary;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary;
    line-height: 0.1em;
    margin: 10px 0 20px;
    span{
        background:$body-bg;
        padding:0 10px;
    }
}

.encouragement{
    margin-top: $halfGutter;
    color: $primary;
    padding:$halfGutter;
    font-size: .9em;
    @include media-breakpoint-up(sm) {
        margin-top: 0;
        position:absolute;
        top:0;
        width: 30vw;
        right: -31vw;
    }

    .encouragement-title{
        display: flex;
        margin-bottom: .5em;
        font-weight: 700;
        .encouragement-title-icon{
            margin-right: 5px;
        }
    }

    p{
        margin: 0;
    }
}
.question{
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }
    &.question-registration{
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            .form-group{
                max-width: 300px;
            }
        }
    }

    &.question-version,
    &.question-mileage,
    &.question-imported,
    &.question-history,
    &.question-running,
    &.question-sellProject{
        @include make-col(12);
    }

    &.question-email{
        @include make-col(6);
    }


    &.question-makelogo{
        @include make-col(12);
        .row{
            margin: -$halfGutter / 2;
        }
        margin-bottom: $halfGutter;
        display: flex;
        .logo-button-container{
            width: calc(100% / 5);
            font-size: .7em;
            text-align: center;
            div{
                margin: 5px $halfGutter / 2;
                border:1px solid #ccc;
                display: block;
                &.selected{
                    border:2px solid $primary;
                }
                img{width: 100%; padding: 5px;}
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &.question-year{
            .form-text{
                width: 200%;
                left: calc(-100% - 30px);
                position: relative;
            }
        }
    }
}

.input-with-validation{
    display: flex;
    align-items: center;
    input{
        flex:1;
    }
    .input-validation{
        width: 30px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        .fa-check{
            width: 16px;
            @extend .text-success;
        }
        .fa-times{
            width: 12px;
            @extend .text-danger;
        }
    }
}


.cta-block{
    margin: 2em 0;
    text-align: center;
}

.dealers-list{

    .button-dealer{
        display: flex;
        border:1px solid $gray-300;
        padding: .5em;
        margin-bottom: .5em;
        .button-dealer-name{
            font-weight: bold;
        }
        .button-dealer-icon{
            width: 30px;
            align-self: center;
        }
        &.hidden-dealer{
            display: none;
        }
        &.selected{
            border-color: $primary;
        }
    }

    &.show-all{
        .button-dealer.hidden-dealer{
            display: flex;
        }
    }
}


.google-map{
    width: 100%;
    border: 1px solid $gray-500;
    height: 175px;
    margin-bottom: 1em;
}

ul,ol{
    li{
        padding-bottom:.5em;
    }
}



ol {
    list-style: none;
    counter-reset: bold-counter;
    li {
        counter-increment: bold-counter;
    }
    li::before {
        content: counter(bold-counter) ". ";
        font-weight: 700;
    }
}


.page{
    padding: $grid-gutter-width 0;
}

.page-confirmation{

    padding-top: 15px;

    h1{
        text-align: center;
        @include media-breakpoint-down(sm) {
            text-align: left;
        }
    }
    h3{
        font-size: 1rem;
        font-weight: 700;
    }
}

.page-record{
    .valuation{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .picture{
        margin: 2em 0 !important;
    }

    .btn{
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }

    .background-private-sell,
    .background-direct-sell{
        padding: $grid-gutter-width;
        margin-bottom: $grid-gutter-width;
    }
    
}

.page-error {
    .cta-block button{
        width: 400px;
    }

    .cta-block{
        text-align: center;
        button{
            width: 100%;
            @include media-breakpoint-up(sm) {
                    max-width: 400px;
                }
            }
    }
}

.page-unsubscribe{

    .form-unsubscribe{
        max-width: 400px;
    }

    .unsubscribe-return{
        @extend .p-3;
        max-width: 600px;
        font-size: 13px;
        &.valid{
            .unsubscribe-return-icon{
                @extend .text-success;
            }
        }
        &.error{
            @extend .text-danger;
        }
        display: flex;
        .unsubscribe-return-message{
            @extend .pl-2;
        }
    }
        .cta-block{
            text-align: left;
            button{
                width: 100%;
            @include media-breakpoint-up(sm) {
                    max-width: 400px;
                }
            }
        }
}
label{
    font-size: $font-size-base;
    font-weight: 700;
    color: $body-color;
    transition: $input-transition;
}
.form-group{

    .text-danger {
        margin: 5px 0;
    }

    &:focus-within{
        label {
            color: $input-active-color;
        }
        .input-with-validation{
            .input-group{
                border-color: $input-active-border-color;
                .input-group-append .input-group-text{
                    color: $input-active-color;
                }
            }
        }
    }

    .input-with-validation{
        .input-group{
            border: 1px solid $input-inactive-border-color;

            .form-control,
            .input-group-append .input-group-text{
                border: none;
                background-color: $input-inactive-bg;
            }

            .form-control{
                font-size: $font-size-base;
                padding: 4px 12px;
            }

            .form-control:focus{
                outline: none;
                box-shadow: none;
            }

            .input-group-append .input-group-text{
                color: $input-inactive-color;
                transition: $input-transition;
            }
        }

        .input-danger{
            border-color: $input-error-border-color;
        }

        .input-success{
            border-color: $input-success-border-color;
        }
    }
}


.feature-group{
    .feature{
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        padding-top: 50px;
        flex: 1;
        text-align: center;
        max-width: 170px;
        margin: auto;
    }
}

.feature-details{
    text-align: center;
    margin:.5em auto;
    font-size: .8em;
    max-width: 200px;
}
.quotation-box{
    padding: $halfGutter;
}

.quotation-description{
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
    font-size: .8em;
}

.accordion-info{
    font-size: .8em;
    padding:1em 0;
    .accordion-info-title{
        margin-bottom: 0em;
        color: $primary;
        .accordion-info-title-text{
            text-decoration: underline;
        }
    }
    .accordion-info-details{
        margin-top: 1em;
    }
}

.progress-bar-section {
    position: sticky;
}

.progress-steps{
    margin: $grid-gutter-width 0 $grid-gutter-width*2 0 ;
    text-align: center;
    ul{
        list-style-type: none;
        display: flex;
        margin: 0;
        padding:0;

        li{
            height:10px;
            width:10px;
            flex-grow: 1;

            &:after{
                content : "1";
                background-color: white;
                text-align: center;
                width: 30px;
                height: 30px;
                line-height: 28px;
                display: block;
                position: relative;
                left: calc(50% - 15px);
                border:1px solid $primary;
                color:$primary;
                font-weight: bold;
                border-radius: 50%;
                top:-($progress-height / 2);
                margin-top: 15px;
            }

            &:nth-child(2){
                &:after{
                    content : "2";
                }
            }
            &:nth-child(3){
                &:after{
                    content : "3";
                }
            }
            &:nth-child(4){
                &:after{
                    content : "4";
                }
            }

            &.completed{
                &:before{
                    background-color: $primary;
                    content:"";
                    background-image:   url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAE2SURBVEiJvdK9K0ZRHAdwD2WRSQaLwWa2YDEabSYvWeQtiUFeVpGJEpKiLP4D/gRlshnkJQuLyLMofCyeuh7ncHtc97fe8/1+fud0q6pyHsygiBt05Y0v+TrXeeIrvs9jXvhqAIfxPPDyZy/NYh74cgRf+G+4gLUIPp8Hvh7B52KhVrSjkAG+EYDfMRULTX8egGPU/wHfjOCTPwWfywKnaKwA347gE7+FLwPBczSnxKuxE8HH0hR04ilQcIvWFPhuBB9Jc4FSURvuA0UP6IhkCtiq+OaBwhZcBAqL6A7cfC8zPFHchLNA8Qt6P8/UYD+Cj1aMJ5ZowEkAeMUoDgLf3jD0ZzyxRB2OAlBoXjGYGZ5YohaHKfCBzPHEEjXCf3oJ7/83vGyR2QDelwueWGIYd7hCT1a9H+P3VnHFgNzZAAAAAElFTkSuQmCC');
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center;
                }
            }
        }
    }

    .progress {
        margin: 38px 13% 0 13%;
    }    
}

.motivation{
    background-color: $gray-100;
    padding:1em;
    margin:1em 0em;
    .motivation-title{
        @extend .text-primary;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.alert-covid{
    background-color: $dangerOpacity;
    padding:0 1em;
    margin-bottom: 1em;
}

.appointment-resume{
    padding: $halfGutter;
    display: flex;
    margin-bottom: $halfGutter;
    .appointment-resume-text{
        padding-left:$halfGutter;
        p {
            margin: 0;
            font-size: 13px;
            font-weight: normal;
        }
    }
}

.vehicle-informations{
    line-height: 1.75em;
}

.footnote{
    font-size: .8em;
    margin-top:2em;
    color:$gray-700;
}

.stick-background{
    margin-top: -3px;
}


.modal{
    .modal-header button.close{
        padding: 0;
        margin: -8px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        opacity: 1;
        font-family: arial;
        span{
            font-size: 18px;
            line-height: 20px;
            display: block;
        }
    }
    .btn{
        display: block;
        width: 100%;
        max-width: 260px;
    }
}


.loading-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}