@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/lato.woff2) format("woff2"), url(./fonts/lato.woff) format("woff"); 
}
  
  @font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/lato-bold.woff2) format("woff2"), url(./fonts/lato-bold.woff) format("woff"); 
}
  
  @font-face {
    font-family: 'unoauto';
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/unoauto.woff2) format("woff2"), url(./fonts/unoauto.woff) format("woff"); 
}

$primary: #2F5DC4 ;
$secondary: #E65508 ;
$btn-border-radius: 2px;
$btn-font-weight:700;
$input-border-radius: 2px;
$hr-border-color: #C3C9CD;

$font-family-base:"Lato";

@import '../../../app.scss'; 
h1{font-size: 32px; font-weight: 700; margin-bottom: 20px;}
.feature-group{
    .feature{
        &.feature-like{background-image: url('img/icon_like.svg');}
        &.feature-user{background-image: url('img/icon_user.svg');}
        &.feature-sun{background-image: url('img/icon_sun.svg');}
        &.feature-clock{background-image: url('img/icon_clock.svg');}
        &.feature-lock{background-image: url('img/icon_lock.svg');}
        &.feature-check{background-image: url('img/icon_check.svg');}
        &.feature-target{background-image: url('img/icon_target.svg');}
        &.feature-cockade{background-image: url('img/icon_cockade.svg');}
        &.feature-bulb{background-image: url('img/icon_bulb.svg');}
    }
}

.btn{
	&.refresh-valuation{
        @extend .btn-secondary;
    }
    
	&.modify-valuation{
        @extend .btn-primary;
	}
}


.picture{
    background-repeat: no-repeat;
    &.picture-searching{
        background-image: url('img/bg_no_valuation.svg');
        background-position: top center;
        height: 180px;
    } 
    &.picture-archive{
        background-image: url('img/bg_season_change.svg');
        background-position: top center;
        height: 130px;
        margin-top: 15px; 
    }
    &.picture-calendar{
        background-image: url('img/bg_calendar.svg');
        background-position: top center;
        height: 160px;
        margin-top: 15px; 
    }

    &.picture-steps{
        background-image: url('img/bg_steps.svg');
        background-position: top center;
        height: 100px;
        margin-top: 15px; 
    }

    &.picture-chat{
        background-image: url('img/bg_chat.svg');
        background-position: top center;
        height: 165px;
        margin-top: 15px; 
    }

    &.picture-meeting{
        background-image: url('img/bg_meeting.svg');
        background-position: top center;
        height: 165px;
        margin-top: 15px; 
    }

    &.picture-icon-calendar{
        background-image: url('img/icon_calendar.svg');
        background-position: top left;
        background-repeat: no-repeat;
        height: 26px;
        width: 28px;
    }

    &.picture-icon-print{
        background-image: url('img/icon_print.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 17px;
        width: 17px;
        display: inline-block;
        vertical-align: bottom;
    }
}

.section-quotation,
.page-record,
.page-unsubscribe{
    h1{
        color: $primary;
        @include media-breakpoint-down(sm) {
            font-size: 1.4rem;
        }
    }
}
.section-quotation{
    h2{
        color: $primary;
    }
}

.page-record{
    h2{
        color: $primary;
    }
    h3{
        font-size: 1.4rem; font-weight: 700;
    }
    .vehicle-informations-container{
        background-color: $gray-200;
        padding: 1em;
    }

    .valuation.valuation-private{
        color: $secondary;
    }

    .valuation.valuation-direct{
        color: $primary;
    }

    .background-private-sell{
        background-color: $primaryOpacity;
        .btn{
            @extend .btn-primary;
        }
    }

    .background-direct-sell{
        background-color: $gray-200;
        .btn{
            @extend .btn-secondary;
        }
    }
}

h2{
    font-size: 1.4rem;
    font-weight: 700;
}

.vehicle-informations,
.information-box{
    h2{
        color: $primary;
    }
}
.quotation-box{
    background-color: $primaryOpacity;
    h2{
        color: $primary;
    }
}

.motivation-title{
    color: $primary;
}
.toggle_show_dealers{
    color: $primary;
    span{
        text-decoration: underline;
    }
}

.quotation-value{
    font-weight: 700;
    font-size: 2.8em;
    color: $secondary;
}

.feature-group{
    .feature{
        color:$primary;
    }
}

.unsubscribe-return{
	background-color:#E6F0FF;
}

.page-confirmation{

    h1{
        color: $primary;
        font-weight: 700;
        @include media-breakpoint-down(sm) {
            font-size: 1.4rem;
        }
    }
    h2{
        color: $primary;
    }

    .appointment-resume{
        background-color: $primaryOpacity;
        .appointment-resume-text{
            p {
                color: $primary;
            }
        }
    }

    a{
        color:$primary;
        text-decoration: underline;
    }

    .cancel-appointment{
        @extend .btn-primary;
    }

    .postpone-appointment{
        @extend .btn-secondary;
    }
}

.modal{
    .modal-header button.close{
        border: 2px solid $primary;
        span{
            color:$primary;
        }

    }

    .btn{
        @extend .btn-primary;
    }
}

.progress-steps{
    .progress-step-content{
        .step{
            .label{
                font-weight: 400;
                color: $gray-300;
                &.completed{
                    font-weight: 700;
                    color: $primary;
                }
                &.active{
                    font-weight: 400;
                    color: $primary;
                }
            }
            .number{
                border:1px solid $gray-300;
                color:$gray-300;
                background-color:white;
                line-height: 20px;
                font-weight: 700;
                &.completed{
                    color: white;
                    border:1px solid $primary;
                    background-color:$primary;
                }
                &.active{
                    border:1px solid $primary;
                    background-color:white;
                    color:$primary;
                }
            }
        }
    }
    .progress{ 
        background-color: $gray-300;
    }
}